<div class="auth-menu">
    <table *ngIf="!isLoggedIn" class="not-logged">
        <td><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></td>
        <td><a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Signup</a></td>
    </table>
    <table *ngIf="isLoggedIn" class="logged">
        <td><a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">My Finance</a></td>
        <td><span class="logout" (click)="logout()">Logout</span></td>
    </table>
</div>