form {
    display: flex;
    flex-direction: column;
    max-width: 20em;
}

.invalid-input {
    color: red;
}

.auth-form input[type=submit] {
    font-size: 20px;
    width: 6em;
    color: white;
    background-color: green;
    border-radius: 0.5em;
}