form {
    display: flex;
    flex-direction: column;
    max-width: 20em;
}

.auth-menu {
    border-spacing: 0;
    border-radius: 2em;
    border: 0.1em solid black;
    overflow: hidden;
}

.invalid-input {
    color: red;
}